
<a class="image" href {{action 'toggleExpand'}}>
    <img src="{{photoUrl}}">
</a>
<div class="content">
    <a class="header" href {{action 'toggleExpand'}}>{{location.name}}</a>
    <div class="meta">
        <a class='ui button' href='{{directionsUrl}}'><i class='map icon'></i></a>
    </div>
    <div class="description">
        {{#if isExpanded}}
            <div class='ui label'>ID: {{location.id}}</div>
            <p>{{location.description}}</p>
        {{/if}}
    </div>
    <div class="extra">
        {{tag-list-widget tags=location.tags}}
    </div>
</div>
