
<a class='image' href {{action 'toggleExpand'}}>
    <img src='{{photoUrl}}'>
</a>
<div class='content'>
    <a class='header' href {{action 'toggleExpand'}}>{{location.name}}</a>
    <div class='meta'>
        <a class='ui button' href='{{directionsUrl}}'><i class='map icon'></i></a>
    </div>
    {{#if isExpanded}}
        <div class='description'>
            {{#ui-label}}ID: {{location.id}}{{/ui-label}}
            {{rating-edit-widget location=location}}
            {{rating-list-widget ratings=location.restaurantLocationData.ratings}}
        </div>
    {{/if}}
    <div class='extra'>
        {{tag-list-widget tags=location.restaurantLocationID.tags}}
    </div>
</div>
