
{{#unless isExpanded}}
    <div class='ui fluid link card'>
        <div class='content'>
            <a class='ui header' href {{action 'toggleExpand'}}>{{restaurant.name}}</a>
        </div>
        <a class='image' href {{action 'toggleExpand'}}><img src='{{photoUrl}}'></a>
        <div class='content'>
            <a class='ui icon button' href='{{directionsUrl}}'><i class='map icon'></i></a>
            <button class='ui icon button' {{action 'rate' restaurant}}><i class='star icon'></i></button>
        </div>
        {{#if restaurant.restaurantLocationID.tags}}
            <div class='extra content'>
                {{tag-list-widget tags=restaurant.restaurantLocationID.tags}}
            </div>
        {{/if}}
    </div>
{{else}}
    {{{closeDiv}}}

    <div class='ui segment items'>
        <div class='item'>
            <a class='image' href {{action 'toggleExpand'}}><img src='{{photoUrl}}'></a>
            <div class='content'>
                <a class='header' href {{action 'toggleExpand'}}>{{restaurant.name}}</a>
                <div class='meta'>
                    <a class='ui icon button' href='{{directionsUrl}}'><i class='map icon'></i></a>
                    <button class='ui icon button' {{action 'rate' restaurant}}><i class='star icon'></i></button>
                </div>
                <div class='meta'>
                    {{#ui/ui-label}}ID: {{restaurant.id}}{{/ui/ui-label}}
                    {{tag-list-widget tags=restaurant.restaurantLocationID.tags}}
                </div>
                <div class='description'>
                    {{rating-list-widget ratings=restaurant.restaurantLocation.ratings}}
                </div>
            </div>
        </div>
    </div>

    {{{openDiv}}}
{{/unless}}
