
<a class='ui image' href {{action 'toggleExpand'}}><img src='{{photoUrl}}'></a>
<a class='ui header' href {{action 'toggleExpand'}}>{{location.name}}</a>
<a class='ui button' href='{{directionsUrl}}'><i class='map icon'></i></a>

{{tag-list-widget tags=location.restaurantLocationID.tags}}

{{#if isExpanded}}
    <div class="ui section divider"></div>
    <div class='description'>
        {{#ui/ui-label}}ID: {{location.id}}{{/ui/ui-label}}
        {{rating-edit-widget location=location}}
        {{rating-list-widget ratings=location.restaurantLocation.ratings}}
    </div>
{{/if}}
