
{{#if link}}
    {{#link-to "restaurant-location" location class="image"}}
        <img src="http://placehold.it/100x100">
    {{/link-to}}
{{else}}
    <div class="image">
        <img src="http://placehold.it/100x100">
    </div>
{{/if}}
<div class="content">
    {{#if link}}
        {{#link-to "restaurant-location" location class="header"}}
            {{location.name}}
        {{/link-to}}
    {{else}}
        <div class="header">{{location.name}}</div>
    {{/if}}
    <div class="meta">
        meta info
    </div>
    <div class="description">
        <p>{{location.description}}</p>
    </div>
    <div class="extra">
        {{#each location.types as |type|}}
            <div class="ui labels">
                <div class="label">
                    {{type}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
