
{{#if link}}
    {{#link-to "restaurant-location" location class="image"}}
        <img src="{{location.photo}}">
    {{/link-to}}
{{else}}
    <div class="image">
        <img src="{{location.photo}}">
    </div>
{{/if}}
<div class="content">
    {{#if link}}
        {{#link-to "restaurant-location" location class="header"}}
            {{location.restaurant.name}}
        {{/link-to}}
    {{else}}
        <div class="header">{{location.restaurant.name}}</div>
    {{/if}}
    <div class="meta">
        meta info
    </div>
    <div class="description">
        <p>{{location.restaurant.description}}</p>
    </div>
    <div class="extra">
        {{tag-list-widget tags=location.tags}}
    </div>
</div>
