
<i class='times icon' {{action 'cancel'}}></i>
<div class='header'>
    {{modalLabel}}
</div>
<div class='ui form content'>
    {{yield}}
</div>
<div class='actions'>
    {{#if cancelLabel}}
        <div class='ui black cancel button'>{{cancelLabel}}</div>
    {{/if}}
    {{#if submitLabel}}
        <button type='button' class='ui right labeled icon ok button'>{{submitLabel}}<i class='checkmark icon'></i></button>
    {{/if}}
</div>
