
{{#if isEditing}}
    {{#ui-segment}}
        {{#model-form submit='saveRating' cancel='cancel' submitLabel='Rate!' cancelLabel='Cancel' formLabel='Submit a Rating'}}
            {{#ui-field label='Menu Selection'}}
                {{ui-rating value=model.menuSelection}}
            {{/ui-field}}
            {{#ui-field label='Environment'}}
                {{ui-rating value=model.environment}}
            {{/ui-field}}
            {{#ui-field label='Cost Efficiency'}}
                {{ui-rating value=model.costEfficiency}}
            {{/ui-field}}
            {{#ui-field label='Product Quality'}}
                {{ui-rating value=model.productQuality}}
            {{/ui-field}}
            {{#ui-field label='Service'}}
                {{ui-rating value=model.service}}
            {{/ui-field}}

            {{ui-field type='textarea' value=model.comment label='Comment'}}

            {{ui-message messages=messages color='red'}}
        {{/model-form}}
    {{/ui-segment}}
{{else}}
    <div class='ui button' {{action 'edit'}}>Have an opinion to share? Rate this restaurant now!</div>
{{/if}}
