
<a class='item'>Filter Settings</a>
{{ui-field type='text' value=searchParams.keyword label='Keyword' class='item'}}
{{ui-field type='number' value=searchParams.minprice label='Minimum Price' class='item'}}
{{ui-field type='number' value=searchParams.maxprice label='Maximum Price' class='item'}}

<a class='item' {{action 'setFilter'}}>Search</a>
<a class='item' {{action 'clearFilter'}}>Clear</a>
