
<a class='item'>Filter Settings</a>
{{form-field type='text' value=searchParams.keyword label='Keyword' class='item'}}
{{form-field type='number' value=searchParams.minprice label='Minimum Price' class='item'}}
{{form-field type='number' value=searchParams.maxprice label='Maximum Price' class='item'}}

<a class='item' {{action 'setFilter'}}>Reapply Search</a>
<a class='item' {{action 'clearFilter'}}>Clear Search</a>
