
<label for="{{label}}">{{label}}</label>
{{#if isEmpty}}
    {{yield}}
{{else}}
    {{#if isTextarea}}
        {{textarea id=label value=value enabled=enabled action="approve" onEvent="keypress"}}
    {{else}}
        {{input id=label type=type value=value enabled=enabled action="approve" onEvent="keypress"}}
    {{/if}}
{{/if}}